HF_TOKEN=YOUR-HUGGINGFACE-TOKEN
MAPS_API_KEY=YOUR-GOOGLE-MAPS-API-KEY
OPENROUTER_API_KEY=YOUR-OPENROUTER-API-KEY
OPENROUTER_MODEL=YOUR-OPENROUTER-MODEL
BLAND_AI_API_KEY=YOUR-BLAND-AI-API-KEY
BLAND_AI_BOOKING_PHONE_NUMBER=+61491114073
